<h1>Admin page</h1>
<br><br>


<a href="">Đổi mật khẩu</a> <br>


<a href="employees">Quản lý nhân viên</a> <br>


<a href="products">Quản lý sản phẩm</a> <br>

<a href="">Thống kê</a>


<script src="/js/adminPage.js"></script>
    