<h1>employee page</h1><br>

<div>
    <h2>xin chào <p id="name"></p></h2>
</div> <br>

<h2>thanh toán</h2> <br> <br>



<div id="orderData">
    <table>
        <thead>
            <th>ten</th>
            <th>so luong</th>
            <th>tong gia</th>
        </thead>
        <tbody>
            {{#each productList}}
                <tr>
                    <td>{{productName}}</td>
                    <td>{{quantity}}</td>
                    <td>${{totalOne}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <b>Tong: ${{totalAll}}</b>
</div>


<br> <br>
<form class="customerInfo">
    <label for="phone">nhập số điện thoại khách</label><br>
    <input type="text" id="phone" name="phone" required>

    <button type="submit">tìm</button>
</form>


<br> <br>
<div>
    <h3>thông tin khách hàng</h3>


        <div id="addCus">
  
        </div>

    
</div>








<script>
    const addCustomer = document.querySelector("#addCus");



    const findCustomer = document.querySelector(".customerInfo");
    findCustomer.addEventListener('submit', async e => {
        e.preventDefault();

        const phoneNum = document.querySelector("#phone").value;

        const response = await fetch('/employee/checkout', {
            method: "post",
            headers: { "Content-Type": "application/json" },
            body : JSON.stringify({phoneNum}),
        });

        const data = await response.json();
        // console.log(data.data);

        if (!data.status) {
            addCustomer.innerHTML = `
                <div id="addCus">
                    <p>khong thay thong tin khach hang, tao khach hang moi</p> <br>

                    <form class="addCus">
                        <label for="fullname">ho ten khach</label><br>
                        <input type="text" id="fullname" name="fullname" required> <br>

                        <label for="address">dia chi</label><br>
                        <input type="text" id="address" name="address" required> <br> <br>

                        <button type="submit">them</button> 
                    </form>
                </div>
            `
            
            document.querySelector(".addCus").addEventListener('submit', async e => {
                e.preventDefault();

                const fullname = document.querySelector("#fullname").value;
                const address = document.querySelector("#address").value;

                const response = await fetch('/employee/checkout/add', {
                    method: "post",
                    headers: { "Content-Type": "application/json" },
                    body : JSON.stringify({ fullname, address, phoneNum, orId: (new URLSearchParams(location.search)).get('id') }),
                });

                const dataa = await response.json();
                if (dataa.status) {
                    addCustomer.innerHTML = "Please enter phone number again";
                    await Swal.fire({
                        icon: 'success',
                        title: dataa.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });

        } else {
            

            addCustomer.innerHTML = `
                <table>
                    <thead>
                        <th>fullname</th>
                        <th>address</th>
                        <th>phone number</th>
                        <th>Choose</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="fn"></td>
                            <td id="ad"></td>
                            <td id="pn"></td>
                            <td ><button class="btn chooseCtm hidden-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-check" viewBox="0 0 16 16">
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4"/>
                                </svg>
                            </button></td>
                        </tr>
                    </tbody>
                </table>
            `

            document.querySelector("#fn").innerHTML = data.data.fullname;
            document.querySelector("#ad").innerHTML = data.data.address;
            document.querySelector("#pn").innerHTML = data.data.phoneNum;
            var ctmId = data.data.ctmId;
        }
        $(".chooseCtm").click(async function() {
                const response = await fetch('/employee/checkout/choose', {
                    method: "post",
                    headers: { "Content-Type": "application/json" },
                    body : JSON.stringify({ ctmId: ctmId, orId: (new URLSearchParams(location.search)).get('id') }),
                });

                const data = await response.json();

                if (data.status) {
                    await Swal.fire({
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    setTimeout(() => {
                        window.location.href = "/employee/order";
                    }, 1200);
                }
            });
    })

    

    
</script>

